NodeRedGateway/flows/capswitch2x10.json
[
  {
    "id": "a5c46301.5a3ba",
    "type": "tcp in",
    "server": "server",
    "host": "",
    "port": "4766",
    "datamode": "single",
    "datatype": "utf8",
    "newline": "",
    "topic": "esp8266",
    "name": "esp8266 cap. switch",
    "base64": false,
    "x": 127,
    "y": 208,
    "z": "848152f7.7b7eb",
    "wires": [
      [
        "f0af8c9b.0f507",
        "4e73d62f.b18c28"
      ]
    ]
  },
  {
    "id": "f0af8c9b.0f507",
    "type": "debug",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 360,
    "y": 186,
    "z": "848152f7.7b7eb",
    "wires": [
      
    ]
  },
  {
    "id": "70634389.8f9cbc",
    "type": "exec",
    "command": "echo \"pl c1 off\"",
    "addpay": false,
    "append": " | nc 192.168.84.232 1099",
    "useSpawn": "",
    "name": "netcat on tinajagate3",
    "x": 627,
    "y": 349,
    "z": "848152f7.7b7eb",
    "wires": [
      [
        
      ],
      [
        
      ],
      [
        "c36b1023.3c94f"
      ]
    ]
  },
  {
    "id": "4a6cf0c9.b5931",
    "type": "exec",
    "command": "echo \"pl c1 on\"",
    "addpay": false,
    "append": " | nc 192.168.84.232 1099",
    "useSpawn": "",
    "name": "netcat on tinajagate3",
    "x": 646,
    "y": 274,
    "z": "848152f7.7b7eb",
    "wires": [
      [
        
      ],
      [
        "c36b1023.3c94f"
      ],
      [
        
      ]
    ]
  },
  {
    "id": "c36b1023.3c94f",
    "type": "debug",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 899,
    "y": 319,
    "z": "848152f7.7b7eb",
    "wires": [
      
    ]
  },
  {
    "id": "4e73d62f.b18c28",
    "type": "switch",
    "name": "Switch hi\/lo",
    "property": "payload",
    "rules": [
      {
        "t": "cont",
        "v": "tinaja.switch1.state 1"
      },
      {
        "t": "cont",
        "v": "tinaja.switch1.state 0"
      }
    ],
    "checkall": "false",
    "outputs": 2,
    "x": 367,
    "y": 243,
    "z": "848152f7.7b7eb",
    "wires": [
      [
        "4a6cf0c9.b5931"
      ],
      [
        "70634389.8f9cbc"
      ]
    ]
  }
]
